.container {
  padding: 4rem 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: var(--font-heading);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 500;
}

.error {
  color: red;
  text-align: center;
}

.switchText {
  text-align: center;
  margin-top: 1.5rem;
}

.link {
  color: var(--primary);
  font-weight: bold;
}
